[submodule "vim/bundle/vim-airline"]
	path = vim/bundle/vim-airline
	url = https://github.com/bling/vim-airline.git
[submodule "vim/bundle/nerdtree"]
	path = vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree
[submodule "vim/bundle/ctrlp"]
	path = vim/bundle/ctrlp
	url = https://github.com/kien/ctrlp.vim
[submodule "vim/bundle/tagbar"]
	path = vim/bundle/tagbar
	url = https://github.com/majutsushi/tagbar
[submodule "vim/bundle/cscope_maps"]
	path = vim/bundle/cscope_maps
	url = https://github.com/chazy/cscope_maps
[submodule "vim/bundle/vim-surround"]
	path = vim/bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
