[Desktop Entry]
Comment=Disabling TouchPad on Boot
Exec=/home/ronnie/.local/bin/disable_touch
Hidden=true
Name=Disable TouchPad
Type=Application
X-GNOME-Autostart-enabled=true
