KERNEL=="card0", SUBSYSTEM=="drm", ENV{DISPLAY}=":0", ENV{XAUTHORITY}="/home/ronnie/.Xauthority", RUN+="/usr/bin/xrandr --output VGA1 --auto --right-of LVDS1"
